<h1>Todos os incidentes registrados</h1>

{{#each incidents}}
    <div class="card">
        {{#if this.riskLevelLow}}
            <img src="/img/riskLevelLow.jpg" alt="grau de risco pequeno" style="width:10%">
        {{/if}}
        {{#if this.riskLevelMedium}}
            <img src="/img/riskLevelMedium.jpg" alt="grau de risco médio" style="width:10%">
        {{/if}}
        {{#if this.riskLevelHigh}}
            <img src="/img/riskLevelHigh.jpg" alt="grau de risco alto" style="width:10%">
        {{/if}}
        <div class="container">
            <h4><b>Descrição do risco identificado: {{this.description}}</b></h4>
            <h4><b>Valor do nível de risco é: {{this.riskLevel}}</b></h4>
            <p>registrado pelo usuário <span>{{this.User.name}}</span></p>
            <p>registrado em <span>{{this.createdAt}}</span></p>
        </div>
    </div>
{{/each}}